/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

/* Header */
header {
    background-color: #4CAF50;
    padding: 1em 0;
}

header .logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ddd;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(to right, #4CAF50, #66BB6A);
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
}

.btn-primary {
    padding: 15px 30px;
    background-color: #fff;
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #66BB6A;
    color: #fff;
}

/* About Section */
.about-section {
    background-color: #111;
    padding: 60px 0;
}

.about-section h2 {
    color: #4CAF50;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Models Section */
.models-section {
    background-color: #222;
    padding: 60px 0;
}

.models-section h2 {
    color: #4CAF50;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.models-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.model {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.model h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.model p {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
    scale: 0.92;
}

.btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

/* Footer Section */
footer {
    background-color: #222;
    padding: 30px 0;
    color: #fff;
}

footer p {
    margin-bottom: 10px;
}
